<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/js/jquery/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/popper/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/sockjs/sockjs.min.js" type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
    <script src="../static/js/stomp/stomp.min.js" type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
    <script src="../static/js/application/schedule.js" type="text/javascript" th:src="@{/js/schedule.js}"></script>
    <script src="../static/js/application/index/index.js" type="text/javascript" th:src="@{/js/index.js}"></script>

    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/application/application.css" rel="stylesheet" th:href="@{/css/application.css}"/>
    <link href="../static/css/application/schedule.css" rel="stylesheet" th:href="@{/css/schedule.css}"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/schedule :: schedule"></div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>