.schedule table {
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

.room-name {
    width: 50px;
    padding: 28px !important;
    border-right: 2px solid !important;
}

.name-header {
    border-right: 2px solid !important;
}

.table-head-centered {
    text-align: center;
}

.scheduled-cell {
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.scheduled-cell:hover {
    opacity: 0.7;
    cursor: pointer;
}

.time-cell:hover {
    cursor: pointer;
    border: 1px solid #20c997;
    z-index: 300;
}

.dirty-fix-cell {
    border: none !important;
    background-color: white !important;
}

.description-text {
    font-size: 14px;
    font-weight: bold;
}

.status-text {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.hidden {
    display: none;
}

#roomBooking .modal-dialog {
    width: auto;
    max-width: 40%;
}

#newPatient .modal-dialog {
    width: auto;
    max-width: 30%;
}

#newPatient {
    z-index: 1200;
    top: 20px;
}

#addPatient {
    padding-left: 10px;
}

