<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../../static/js/jquery/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/popper/popper.min.js" type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/bootstrap/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/datepicker/bootstrap-datepicker.js" type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script src="../../static/js/application/schedule.js" type="text/javascript" th:src="@{/js/schedule.js}"></script>

    <link href="../../static/css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/application/application.css" rel="stylesheet" th:href="@{/css/application.css}"/>
    <link href="../../static/css/datepicker/datepicker.css" rel="stylesheet" th:href="@{/css/datepicker.css}"/>
    <link href="../../static/css/application/schedule.css" rel="stylesheet" th:href="@{/css/schedule.css}"/>
</head>
<body>
<div th:fragment="schedule">
    <div class="schedule">
        <table class="schedule-table table table-bordered table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- New patient modal -->
    <div class="modal" id="newPatient" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Patient</h5>
                    <button type="button" class="close" data-dismiss="modal" data-target="#newPatient" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Patient Name:</label>
                        <input type="text" id="name" class="col-8 form-control">
                    </div>
                    <div class="form-group row">
                        <label for="sex" class="col-3 col-form-label">Sex:</label>
                        <select id="sex" class="col-8 form-control">
                            <option value="-1"></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="dayOfBirth" class="col-3 col-form-label">Day Of Birth:</label>
                        <input type="text" id="dayOfBirth" class="col-8 form-control datepicker" data-date-format="yyyy-mm-dd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="savePatient">Save</button>
                    <button type="button" class="btn btn-secondary" data-target="#newPatient" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Room Booking Modal -->
    <div class="modal" id="roomBooking" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" data-target="#roomBooking" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description:</label>
                        <input type="text" id="description" class="col-8 form-control">
                    </div>
                    <div class="form-group row">
                        <label for="doctorName" class="col-3 col-form-label">Doctor:</label>
                        <select id="doctorName" class="col-8 form-control"></select>
                    </div>
                    <div class="form-group row">
                        <label for="selectPatient" class="col-3 col-form-label">Patient:</label>
                        <select id="selectPatient" class="col-6 form-control"></select>
                        <button type="button" class="btn btn-info col-2" id="addPatient">Add Patient</button>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Planned Start Time:</label>
                        <select id="startHour" class="col-3 form-control">
                            <option value="-1"></option>
                            <option value="0">00</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <label class="col-1 col-form-label">hour</label>
                        <select id="startMinute" class="col-3 form-control">
                            <option value="-1"></option>
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <label class="col-1 col-form-label">minute</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Estimated End Time:</label>
                        <select id="endHour" class="col-3 form-control">
                            <option value="-1"></option>
                            <option value="0">00</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <label class="col-1 col-form-label">hour</label>
                        <select id="endMinute" class="col-3 form-control">
                            <option value="-1"></option>
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <label class="col-1 col-form-label">minute</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveBooking">Save</button>
                    <button type="button" class="btn btn-secondary" data-target="#roomBooking" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>